<header>
  <a href="{{ '/' | relative_url }}"><img src="{{ '/images/home.png' | relative_url }}" style="width: 10%; height: 10%;" aria-hidden="true" aria-description="Slade Watkins wearing a cap and gown" alt="Slade Watkins wearing a cap and gown"/></a>
</header>

<nav>
  <ul class="navigation">
    <li><a title="Home" href="{{ '/' | relative_url }}">Home</a></li>
    <li><a title="About" href="{{ '/about/' | relative_url }}">About</a></li>
    <li><a title="Contact" href="{{ '/contact/' | relative_url }}">Contact</a></li>
    <li><a title="Blo(n)g(er)" href="{{ '/blonger/' | relative_url }}">Blo(n)g(er)</a></li>
    <li><a title="Sitemap" href="{{ '/sitemap/' | relative_url }}">Sitemap</a></li>
  </ul>
</nav>