<header>
  <a href="/"><img src="{{ '/images/home.png' | relative_url }}" style="width: 10%; height: 10%;" alt="Slade Watkins wearing a cap and gown"/></a>
</header>

<nav>
  <ul>
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/about/' | relative_url }}">About</a></li>
    <li><a href="{{ '/faq/' | relative_url }}">FAQ</a></li>
    <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
    <li><a href="{{ '/blonger/' | relative_url }}">Blo(n)g(er)</a></li>
  </ul>
</nav>